configuration {
  modi: "drun,run";
  font: "Ubuntu Mono 12";
  show-icons: true;
  terminal: "wezterm start";
  run-shell-command: "{terminal} -- {cmd}";
  icon-theme: "Papirus";
} 

@import "styles"
