@define-color primary #2ea043;
@define-color secondary #0078d4;
@define-color tertiary #e66100;
@define-color success #20742e;
@define-color warning #f5c211;
@define-color error #f85149;
@define-color surface #181818;
@define-color surface_alt #1f1f1f;
@define-color text_1 #cccccc;
@define-color text_2 #d7d7d7;

window#waybar {
  background: @surface;
  font-family: "Ubuntu", "FontAwesome", "Symbols Nerd Font", sans-serif;
  font-size: 15px;
  color: @text_1;
}

.modules-right {
  padding-left: 10px;
}

#battery {
  padding-right: 10px;
}

#pulseaudio {
  color: @text_1;
}

#pulseaudio.output.muted,
#pulseaudio.input.source-muted {
  color: @warning;
}

#clock,
#backlight,
#memory,
#cpu,
#network,
#bluetooth,
#pulseaudio,
#mpris {
  padding-left: 2.5px;
  padding-right: 2.5px;
}

#battery.charging {
  background: @success;
  color: @text_1;
}

#battery.warning {
  background: @warning;
  color: @text_1;
}

#battery.critical,
#network.disconnected {
  background: @error;
  color: @text_1;
}

#workspaces {
  color: @text_1;
}

#workspaces button.active {
  background: @surface_alt;
  color: @text_2;
}
