@define-color primary #148a56;
@define-color secondary #1c71d8;
@define-color tertiary #e66100;
@define-color success #20742e;
@define-color warning #f5c211;
@define-color error #c01c28;
@define-color surface #241f31;
@define-color surface_alt #1b1725;

window#waybar {
  background: @surface;
  font-family: "Ubuntu", "FontAwesome", "Symbols Nerd Font", sans-serif;
  font-size: 15px;
}

.modules-right {
  background: @surface_alt;
  padding-left: 10px;
}

#battery {
  padding-right: 10px;
}

#battery.charging {
  background: @success;
}

#battery.warning {
  background: @warning;
}

#battery.critical, #network.disconnected {
  background: @error;
}

#workspaces button.active {
  background: @surface_alt;
  color: white;
}
