@define-color primary #148a56;
@define-color secondary #1c71d8;
@define-color tertiary #e66100;
@define-color success #20742e;
@define-color warning #f5c211;
@define-color error #c01c28;
@define-color surface #241f31;
@define-color surface_alt #1b1725;

window#waybar {
  background: transparent;
  font-family: "Ubuntu", "FontAwesome", "Symbols Nerd Font", sans-serif;
  font-size: 15px;
  color: white;
}

.modules-right {
  background: #241f31;
  padding-left: 10px;
}

#battery {
  padding-right: 10px;
}

#pulseaudio {
  color: white;
}

#pulseaudio.output.muted,
#pulseaudio.input.source-muted {
  color: @warning;
}

#clock,
#backlight,
#memory,
#cpu,
#network,
#bluetooth,
#pulseaudio,
#mpris {
  padding-left: 2.5px;
  padding-right: 2.5px;
}

#battery.charging {
  background: @success;
  color: white;
}

#battery.warning {
  background: @warning;
  color: white;
}

#battery.critical,
#network.disconnected {
  background: @error;
  color: white;
}

#workspaces {
  background: #241f31;
  color: white;
}

#workspaces button.active {
  background: @surface_alt;
  color: white;
}
